.u-section-1 {
  background-image: linear-gradient(0deg, rgba(97,97,87,0.45), rgba(97,97,87,0.45)), url("images/f771f8b58ebecb5b914a9640fa2ac84fe4a72258c3333278ad63d27b86d443c4483c2f2edd71c68ec97a24179f321b93c62b6080879d005d63c96c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-group-1 {
  min-height: 381px;
  margin-top: 230px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: abril-fatface;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    min-height: 490px;
    margin-top: 287px;
    margin-bottom: 85px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-group-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 107px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 4.5rem;
  }
}.u-section-2 {
  background-image: linear-gradient(#a68053, #616157);
}

.u-section-2 .u-sheet-1 {
  min-height: 1340px;
}

.u-section-2 .u-text-1 {
  width: 391px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  margin: 45px 32px 0 54px;
}

.u-section-2 .u-image-1 {
  width: 562px;
  height: 485px;
  margin: 45px auto 0 31px;
}

.u-section-2 .u-image-2 {
  width: 485px;
  height: 485px;
  margin: -485px 31px 32px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 466px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -466px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 293px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -293px;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(45deg, #616157, #a68053);
}

.u-section-3 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-3 .u-text-1 {
  width: 285px;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 50px 80px 0 82px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 61px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 22px;
}

.u-section-3 .u-text-3 {
  margin: 30px 9px 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 9px 0;
}

.u-section-3 .u-text-5 {
  margin: 44px 0 0 18px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 55px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 44px 0 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 29px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 44px 0 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 29px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 53px 0 0;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-4 {
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 3;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 2;
  }

  .u-section-3 .u-btn-4 {
    padding-right: 105px;
    padding-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-4 {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-3 .u-btn-2 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-3 .u-btn-3 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-3 .u-btn-4 {
    padding-left: 117px;
    padding-right: 117px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 454px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 30px 12px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 33px 0 12px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 30px 12px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 33px 0 12px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(97, 97, 87) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 30px 12px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 33px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 31px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.375rem;
  margin: 16px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 45px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 12.6667px));
  min-height: 950px;
  grid-gap: 19px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-5 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 19.2px;
  margin: 20px 45px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-5 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 19.2px;
  margin: 20px 45px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-5 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 19.2px;
  margin: 20px 45px 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-5 .u-text-9 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-10 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 19.2px;
  margin: 20px 45px 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 15px 30px;
}

.u-section-5 .u-text-11 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-12 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 19.2px;
  margin: 20px 45px 0;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 15px 30px;
}

.u-section-5 .u-text-13 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 217px;
  margin: 24px auto 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-14 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 19.2px;
  margin: 20px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 783px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.50003px));
    min-height: 1349px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 1303px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-13 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/654d4dfdfef78a9a6be7e997ce84aa39b800064726f8282dc6b55862c92eb44102c5950db2369b9140140b0358bf491234633bfd9d74dbd55e91cc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 590px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  margin: 60px 70px 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1020px;
  margin: 30px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 405px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-6 .u-text-2 {
  margin: 39px 26px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 46px 25px 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 51px auto 0 25px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-form-1 {
  margin: 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}