.u-section-1 {
  background-image: linear-gradient(0deg, rgba(97,97,87,0.45), rgba(97,97,87,0.45)), url("images/9491fda573b01f1ff56dc14f6dd8fbf0196983513c2a9740d6bd58e79cdd042262612c2325e55f109d36fecd9c880dce288562c1594e2d3d4a6939_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-group-1 {
  min-height: 381px;
  margin-top: 230px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: abril-fatface;
  margin: 48px 85px 0 230px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    min-height: 490px;
    margin-top: 287px;
    margin-bottom: 85px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-group-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 107px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 4.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  width: 800px;
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  width: 830px;
  margin: 45px auto 0;
}

.u-section-2 .u-image-1 {
  width: 447px;
  height: 447px;
  margin: 23px 45px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 537px;
  height: 443px;
  margin: -447px auto 0 66px;
}

.u-section-2 .u-image-3 {
  width: 537px;
  height: 428px;
  margin: 30px auto 0 66px;
}

.u-section-2 .u-image-4 {
  width: 447px;
  height: 428px;
  margin: -427px 45px 60px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 3px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 280px;
    margin-top: -340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 325px;
    margin-top: -270px;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(45deg, #616157, #a68053);
}

.u-section-3 .u-sheet-1 {
  min-height: 629px;
}

.u-section-3 .u-text-1 {
  width: 285px;
  font-weight: 700;
  margin: 51px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 50px 80px 0 82px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 51px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 289px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 13px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 30px 18px 0;
}

.u-section-3 .u-text-4 {
  margin: 29px 18px 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 18px 58px 0 auto;
  padding: 10px 60px 10px 58px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 289px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 44px auto 0 42px;
  padding: 10px 60px 10px 58px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 289px;
}

.u-section-3 .u-container-layout-3 {
  padding: 16px 23px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 14px 7px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 29px 14px 0 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 44px auto 0 55px;
  padding: 10px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 41px;
    padding-left: 41px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 106px;
    padding-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-3 {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-3 .u-btn-2 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-3 .u-btn-3 {
    padding-left: 117px;
    padding-right: 117px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 454px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 30px 12px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 33px 0 12px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 30px 12px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 33px 0 12px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(97, 97, 87) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 30px 12px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 33px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/654d4dfdfef78a9a6be7e997ce84aa39b800064726f8282dc6b55862c92eb44102c5950db2369b9140140b0358bf491234633bfd9d74dbd55e91cc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 590px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  margin: 60px 70px 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1020px;
  margin: 30px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 405px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-5 .u-text-2 {
  margin: 39px 26px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 46px 25px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 51px auto 0 25px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-form-1 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}